.ipynb_checkpoints
*/.ipynb_checkpoints/*

cache/
*/.cache/*

rl/env/__pycache__

.DS_Store

.vscode/

data/trips/preprocessed_trips/preprocessed_trips.csv

data/trips/preprocessed_trips.csv

rl/Manhattan_Graph_Environment/trips_kaggle_providers.csv

.idea/