<!DOCTYPE html>

<head>
    <title>Test</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Welcome!Add a new taxi trip</h1>
<form action="http://127.0.0.1:5000//addTrip" method="POST">
    <label for="pickup_long">Pickup longitude:</label>
    <input id="pickup_long" name="pickup_long" type="text"/><br/><br/>
    <label for="pickup_lat">Pickup latitude:</label>
    <input id="pickup_lat" name="pickup_lat" type="text"/><br/><br/>

    <label for="dropoff_long">Dropoff longitude:</label>
    <input id="dropoff_long" name="dropoff_long" type="text"/><br/><br/>
    <label for="dropoff_lat">Dropoff latitude:</label>
    <input id="dropoff_lat" name="dropoff_lat" type="text"/><br/><br/>

    <label for="pickup_date">Pickup time:</label>
    <input id="pickup_date" name="pickup_date" type="text"/><br/><br/>

    <label for="dropoff_date">Dropoff time:</label>
    <input id="dropoff_date" name="dropoff_date" type="text"/><br/><br/>

    <label for="id">New Id: </label>
    <input id="id" name="id" type="text"/><br/><br/>

    <label for="vendor_id">Vendor Id: </label>
    <input id="vendor_id" name="vendor_id" type="text"/><br/><br/>

    <label for="passenger_count">Passenger count: </label>
    <input id="passenger_count" name="passenger_count" type="number"/><br/><br/>

    <label for="provider">Provider id: </label>
    <input id="provider" name="provider" type="number"/><br/><br/>

    <label for="total_price">Total price: </label>
    <input id="total_price" name="total_price" type="text"/><br/><br/>

    <input type="submit" value="Submit"/>
</form>

<!-- <button><a href="/my-link/">Click me</a></button> -->
</body>
