<!DOCTYPE html>

<head>
  <title>Test</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Welcome! Find a taxi trip</h1>
  <form action="http://127.0.0.1:5000/search">
    <label for="pickup_long">Pickup longitude:</label>
    <input type="text" id="pickup_long" name="pickup_long" /><br /><br />
    <label for="pickup_lat">Pickup latitude:</label>
    <input type="text" id="pickup_lat" name="pickup_lat" /><br /><br />
    <label for="start_date">Pickup time:</label>
    <input type="text" id="start_date" name="start_date" /><br /><br />
    <input type="submit" value="Submit" />
  </form>

  <!-- <button><a href="/my-link/">Click me</a></button> -->
</body>
